In [1]:
import numpy as np
from snapfish2.loop.simulations import *

In [2]:
%reload_ext autoreload
%autoreload 2

In [3]:
sigma_error = np.array([1, 1, 3])
sigma_loop = np.array([0.9]*3)
sigma_unloop = np.array([1.1]*3)

lt = LoopTest(
    sigma_error=sigma_error,
    sigma_loop=sigma_loop,
    sigma_unloop=sigma_unloop,
    conf_level=0.99
)
lt.evaluate_tests(
    nalleles_loop=500,
    nalleles_unloop=500
)

                     TP    FN    FP    TN
t_test             0.21  0.79  0.01  0.99
f_test_bonferroni  0.53  0.47  0.01  0.99
f_test_fdr         0.53  0.47  0.01  0.99
f_test_act         0.56  0.44  0.01  0.99

In [8]:
sigma_error = np.array([1, 1, 3])
sigma_loop = np.array([0.9]*3)
sigma_unloop = np.array([1.1]*3)

lt = LoopTest(
    sigma_error=sigma_error,
    sigma_loop=sigma_loop,
    sigma_unloop=sigma_unloop,
    conf_level=0.99
)
lt.evaluate_tests(
    nalleles_loop=500,
    nalleles_unloop=500
)

                     TP    FN    FP    TN
t_test             0.21  0.79  0.01  0.99
f_test_bonferroni  0.53  0.47  0.01  0.99
f_test_fdr         0.54  0.46  0.01  0.99
f_test_act         0.61  0.39  0.01  0.99

In [4]:
sigma_error = np.array([40, 40, 120])
sigma_loop = np.array([40]*3)
sigma_unloop = np.array([50]*3)

lt = LoopTest(
    sigma_error=sigma_error,
    sigma_loop=sigma_loop,
    sigma_unloop=sigma_unloop,
    conf_level=0.99
)
lt.evaluate_tests(
    nalleles_loop=500,
    nalleles_unloop=500
)

                     TP    FN    FP    TN
t_test             0.37  0.63  0.01  0.99
f_test_bonferroni  0.76  0.24  0.01  0.99
f_test_fdr         0.77  0.23  0.01  0.99
f_test_act         0.80  0.20  0.01  0.99